body {
  transition-duration: 0.2s;
}

.App a {
  text-decoration: none; /* remove underline */
}
.ocean a {
  color: #fff;
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  height: 50px;
  background-color: hsl(0, 0%, 100%);
 
}

.header-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  padding: 10px 0;
}

.main-container {
  height: 100%;
  padding: 35px;
}

.card {
  width: 50%;
  border: none;
  border: 1px solid #dddddd;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

/* Button */
.button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  transition-duration: 0.1s;
  background-color: gray;
}

.button:hover {
  opacity: 80%;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4d4d4d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fafafa;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fafafa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header {
  font-size: 2rem;
  padding: 10px 0;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.container {
  display: grid;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}

.form-label {
  margin: 5px 0;
}

.thumbnails{
  height: 150px;
  width: 130px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.prodList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
}

.prodItem {
  padding: 15px;
  width: calc((100% / 3) - 1rem); /* adjust this value depending on the number of items you want per row */
}

.prodItem h2 {
  font-size: 1rem;
  padding: 15px;
  margin-top: 15px;
}

.prodDetailImage{
  height: 500px;
  width: 500px;
  margin-Right: '1rem';
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.prodContainer{
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
}

.prodDesc{
  padding: 15px;
  font-size: 20px;
  border-radius: 15px;
}

.prodPrice{
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}
.prodTitle{
  padding: 15px
}

.btnBack{
  color: black;
  background-color: white;
  height: 50px;
  width: 130px;
  margin-top: 60%;
  border-radius: 15px;
}

.btnNav{
  height: 80px;
  width: 50%;
  border-radius: 15px;
}